body{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    height: 100vh;
    padding: 0%;
}
.letras{
    background-color: rgba(142, 237, 224, 0.571);
    border: 1px solid white;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-family: 100px;
    text-align: center;
}
.flex-container{
    display:flex;
    flex-direction: column;
}

.flex-container2{
    display:flex;
    flex-direction: column;
    align-self: self-end;
}
